{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceController!{% endblock %}

{% block body %}

<div class="display:flex; justify-content:center; align-items:center; height:100vh; text-align:center;">
    <h1>Bonjour à tous !</h1>

    <div style="position: absolute; top: 20%; left: 35%; text-align: center;">
        <h2>L'application gestion de parc est en maintenance</h2>
        <p>Nous revenons très vite !</p>
        <p>Merci de votre compréhension.</p>
    </div>
{% endblock %}
